.elder_section img{
    transition: 0.5s;
    width: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.elder_section img:hover{
    opacity: 0.5;
}

.elder_section .text_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elder_section .text_div h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

.elder_section .text_div p{
    font-size: 14px;
}

.elder_section button{
    border: none;
    color: #fff;
}

.elder_section button:hover{
    display: block;
}

.elder_section .small_devise{
    display: none;
}

@media screen and (max-width: 767px) {
    .elder_section{
        margin-top: 150px !important;
    }

    .elder_section .small_devise{
        display: block;
    }

    .elder_section .large_devise{
        display: none;
    }
}

@media screen and (min-width: 767px) and (max-width: 897px) {
    .elder_section .main-btn{
        display: none;
    }

    .elder_section .extra-btn{
        display: block;
    }
}

@media screen and (min-width: 897px){
    .elder_section .extra-btn{
        display: none;
    }
}
