.Appointment_Page img{
    width: 60px;
}

.Appointment_Page .form_header_div{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.1 ) 35%, rgba(0,212,255,1) 100%);
}

.Appointment_Page .form_div{
    border: 1px solid black;
}

.Appointment_Page .input_field{
    width: 100%;
}

.Appointment_Page button{
    background: #10327a;
    border: none;
    color: #fff;
}